<div class="container">
  <div class="header">
    <div class="title">Sala {{data.number}}</div>
    <mat-icon class="create-button" (click)="openAddModal()">add_circle_outline</mat-icon>
  </div>
  <div class="procedures-container"
       cdkDropList
       [cdkDropListData]='data.procedures'
       (cdkDropListDropped)='drop($event)'>
    <app-procedure class="procedure" [order]='i+1' [data]='procedure' *ngFor="let procedure of data.procedures; let i = index" cdkDrag></app-procedure>
  </div>
</div>

