<h3 mat-dialog-title>Detalii Procedura</h3>
<div mat-dialog-content>
  <form [formGroup]='procedureForm' class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Alege Doctorul" aria-label="Number" matInput [formControl]="doctorCtrl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let doctor of filteredOptions | async" [value]="doctor.lastName + ' ' + doctor.firstName">
          <div>{{doctor.lastName}} {{doctor.firstName}}</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onClose()">Inchide</button>
  <button mat-raised-button color='primary' (click)="onAddProcedure()">Adauga</button>
</div>
