.container
  width: 230px
  // height: 300px
  border: 1px solid grey
  box-sizing: border-box
  display: inline-block

  .rooms-container
    padding: 2px 5px

.date
  display: flex
  align-items: center
  justify-content: center
  background-color: #4263b9
  color: white
  height: 25px
  font-size: .85rem
