<div class="container" cdkDrag>
  <span class='order'>{{order}}</span>
  <mat-divider vertical class='divider'></mat-divider>
  <div class="data">
    <div class="doctor">
      <span>Doctor:</span> {{data.doctor.lastName}} {{data.doctor.firstName}}
    </div>
    <div class="pacient">
      <span>Pacient:</span> {{data.pacient.lastName}} {{data.pacient.firstName}}
    </div>
  </div>
  <div class="buttons">
    <mat-icon aria-hidden="false" class="icon info" aria-label="Example home icon">info</mat-icon>
    <mat-icon aria-hidden="false" class="icon edit" aria-label="Example home icon" (click)='openDialog()'>edit</mat-icon>
  </div>
</div>
